{deps, [
    {procket, ".*", {git, "git://github.com/msantos/procket.git", "master"}},
    {pkt, ".*", {git, "git://github.com/msantos/pkt.git", {tag, "85a28c2449d2e941b84b1625a48c8f0a1f13ba68"}}}
    ]}.

{xref_checks, [undefined_function_calls]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
